.Pomodoro-fullpage{
    position: relative;
    #session{
        font-size: 1.8rem;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%,0);
        background-color: rgb(9, 138, 84);
        color: white;
        padding: 0.6rem 0.9rem;
        border-radius: 20px;
    }
    .pomo-timer{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        h5{
            font-size: 7.5rem;
        }
        button{
            background-color: $sec;
            color: white;
            padding: 0.8rem 1.5rem;
            font-size: 1.5rem;
            margin: 10px;
            border: none;
            transition: all 0.1s ease;
            box-shadow: 5px 5px 5px 0 black;
            font-weight: 600;
        }
        button:active{
            box-shadow: none;
            scale: 0.97;
        }
    }
}